# IntelliJ project folders
.idea

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# OSX

.DS_Store
.AppleDouble
.LSOverride


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Project files
/community-theme/.sass-cache/

/community-theme/cache/*
!/community-theme/cache/index.php

/community-theme/css/*
!/community-theme/css/index.php
!/community-theme/css/autoload/
/community-theme/css/autoload/*
!/community-theme/css/autoload/highdpi.css
!/community-theme/css/autoload/responsive-tables.css
