# Project files
/*

!/themes/
/themes/*
!/themes/community-theme-16/

!/modules/
/modules/*
!/modules/ct*/

!/CHANGELOG.md
!/Config.xml
!/CONTRIBUTORS.md
!/gulpfile.js
!/index.php.copy
!/LICENSE
!/package.json
!/README.md
!/.editorconfig
!/.jscsrc
!/.gitignore
!/.gitconfig
!/.gitattributes

# Ignore everywhere
index.php
.sass-cache/
*.css.map

/themes/community-theme-16/.sass-cache/
/themes/community-theme-16/cache/*
/themes/community-theme-16/css/*
