//-------- BORDERS
$base-border-color:                 #d6d4d4;
$main_border:                       1px solid $base-border-color;
$dark-border-color:                 #333;
$light-border-color:                #fff;

//--------- BACKGROUNDS
$base-box-bg:                       #fbfbfb;
$table-background:                  $base-box-bg;
$dark-background:                   #333;
$light-background:                  #fff;
$homepage-footer-bg:                #f2f2f2;

//--------- COLORS
$gray-text-color:                   #777;
$base-text-color:                   #333;
$base-heading-color:                #555454;
$light-text-color:                  #fff;
$description-color:                 #666;

//--------- Indents
$base-box-padding:                  14px 18px 13px;
$base-box-indent:                   0 0 30px 0;

//---------- Product Elements
$product-name-color:                #3a3939;
$product-name-hover-color:          #515151;
$price-color:                       $gray-text-color;
$product-price-color:               $base-text-color;
$product-reduced-price:             #f00;
$product-special-price-color:       #f13340;
$product-old-price-color:           #6f6f6f;

//---------- Buttons
$button-text-color:                 $light-text-color;

//------ Button Small --
$button-small-bg:           #6f6f6f;
$button-small-hover-bg:     #575757;

//-------Button exclusive-medium
$button-em-color:           $base-text-color;

//-------------- Pagination vars
$pagination-prevnext-color:                 #777676;
$pagination-bgcolor:                        $base-box-bg;
$pagination-hover-bg:                       #f6f6f6;

//
// Override vendor variables here
//

// Bootstrap
$border-radius-base:  0;
$border-radius-large: 0;
$border-radius-small: 0;

// Font Awesome
$font-icon    : "FontAwesome";
$fa-css-prefix: icon;
