@import "compass";
@import "theme_variables";
@import "vendor_variables";

#product_comparison {
  .td_empty {
    font-weight: bold;
  }
  .comparison_availability_statut {
    display: none;
    font-weight: 700;
    color: #060;
  }
}
