@import "compass";
@import "theme_variables";
@import "vendor_variables";

#product_comparison {
  .td_empty {
    font-weight: bold;
  }
  .comparison_availability_statut {
    display: none;
    font-weight: 700;
    color: #060;
  }
  .product_discount {
    padding-top: 5px;
    .reduced-price {
      color: $product-price-reduction-color;
      font-weight: 700;
    }
  }
  .comparison_feature{
    .product_name{
      display: none;
    }
  }
}
