@import "compass";
@import "theme_variables";
@import "vendor_variables";

$quick-view-btn-size: 31px;

//
// Transformation classes
//
.product-grid {
  .block-if-product-grid {
    display: block;
    width: 100%;
    float: none;
  }
  .hide-if-product-grid {
    display: none;
  }
}

.product-list {
  .block-if-product-list {
    display: block;
    width: 100%;
    float: none;
  }
  .hide-if-product-list {
    display: none;
  }
}

//
// Component classes
//
.quick-view {
  width: $quick-view-btn-size;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  padding: 5px 8px;
  border: 1px solid #ccc;
  border-right: none;
  border-top: none;
}

.color-list-container {
  margin-bottom: 10px;
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    line-height: 0;
    li {
      display: inline-block;
      border: 1px solid $ps-border-color;
      a {
        display: block;
        width: 22px;
        height: 22px;
        margin: 1px;
        img {
          display: block;
          width: 22px;
          height: 22px;
        }
      }
    }
  }
}

.product-container {
  text-align: center;
}

.content_price {
  text-align: center;
  font-size: 1.25em;
}

.product-image-container {
  position: relative;
  .content_price {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background: rgba(50, 50, 50, 0.65);
    padding: 3px;
    color: #fff;
  }
}

.product-actions-container {
  .content_price {
    margin-bottom: 10px;
  }
  .button-container {
    margin-bottom: 10px;
  }
  .availability {
    margin-bottom: 10px;
  }
}
