@import "compass";
@import "theme_variables";
@import "vendor_variables";

$quick-view-btn-size: 31px;

//
// Transformation classes
//
.product-grid {

}

.product-list {

}

//
// Component classes
//
.quick-view {
  width: $quick-view-btn-size;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  padding: 5px 8px;
  border: 1px solid #ccc;
  border-right: none;
  border-top: none;
}

.product-container {
  text-align: center;
}
