// This file contains style rules for elements which have been removed
// or refactored in this theme, but may come from custom module templates
// which have copied element markup and classes from the default theme.
//
// If you are developing a custom shop with this theme,
// you may remove this file if you can take care of any
// theme style compatibility issues with custom modules.

// @TODO Replace button-variant with legacy-button-variant (generate less CSS)

@import "./../theme_variables";
@import "./../vendor_variables";
@import "./../vendor_mixins";

$btn-legacy-yellow-color  : $btn-default-color;
$btn-legacy-yellow-bg     : #f4b61b;
$btn-legacy-yellow-border : #cc9900;

$btn-legacy-gray-color    : #fff;
$btn-legacy-gray-bg       : #6f6f6f;
$btn-legacy-gray-border   : #5f5f5f;

$btn-legacy-green-color   : #fff;
$btn-legacy-green-bg      : #43b754;
$btn-legacy-green-border  : #399a49;

$btn-legacy-orange-color  : #fff;
$btn-legacy-orange-bg     : #fdaa02;
$btn-legacy-orange-border : #d98305;

$btn-legacy-default-color : #333;
$btn-legacy-default-bg    : #f7f7f7;
$btn-legacy-default-border: #b7b7b7;

$btn-legacy-buy-color     : #fff;
$btn-legacy-buy-bg        : #007ab7;
$btn-legacy-buy-border    : #006fa8;

// Old checkbox markup which doesn't follow Bootstrap's checkbox markup
p.checkbox {
  input[type="checkbox"] {
    margin-left: 0;
  }
}

// Non-bootstrap confirmation alert from PrestaShop 1.5
.confirmation {
  background-color: #ffffe0;
  border: 1px solid #e6db55;
  padding: $alert-padding;
  margin-bottom: $line-height-computed;
}

// Button classes from PrestaShop 1.5
.button_mini,
.button_small,
.button,
.button_large,
.button_mini_disabled,
.button_small_disabled,
.button_disabled,
.button_large_disabled,

.exclusive_mini,
.exclusive_small,
.exclusive,
.exclusive_large,
.exclusive_mini_disabled,
.exclusive_small_disabled,
.exclusive_disabled,
.exclusive_large_disabled {
  padding: 5px 7px;
  display: inline-block;
  margin-bottom: 0;
  font-weight: $btn-font-weight;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  @include button-variant($btn-legacy-yellow-color, $btn-legacy-yellow-bg, $btn-legacy-yellow-border);
  @include user-select(none);
}

.button_mini_disabled,
.button_small_disabled,
.button_disabled,
.button_large_disabled,
.exclusive_mini_disabled,
.exclusive_small_disabled,
.exclusive_disabled,
.exclusive_large_disabled {
  cursor: $cursor-disabled;
  @include opacity(.65);
  pointer-events: none;
}

// Small default button
.button {
  display: inline-block;
  margin-bottom: 0;
  font-weight: $btn-font-weight;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;

  @include button-size(3px, 8px, $font-size-base, $line-height-base, $btn-border-radius-base);
  @include user-select(none);

  i {
    margin-right: 5px;
    margin-left: 0;
    &.right {
      margin-right: 0;
      margin-left: 5px;
    }
  }

  &.button-small {
    @include button-variant($btn-legacy-gray-color, $btn-legacy-gray-bg, $btn-legacy-gray-border);
  }

  // Large buttons
  &.button-medium,
  &.exclusive-medium,
  &.ajax_add_to_cart_button,
  &.lnk_view {
    @include button-size(10px, 10px, $font-size-large, $line-height-large, $btn-border-radius-large);
  }

  &.button-medium {
    @include button-variant($btn-legacy-green-color, $btn-legacy-green-bg, $btn-legacy-green-border);
    &.exclusive {
      @include button-variant($btn-legacy-orange-color, $btn-legacy-orange-bg, $btn-legacy-orange-border);
    }
  }

  &.exclusive-medium,
  &.lnk_view {
    @include button-variant($btn-legacy-default-color, $btn-legacy-default-bg, $btn-legacy-default-border);
  }

  &.ajax_add_to_cart_button {
    @include button-variant($btn-legacy-buy-color, $btn-legacy-buy-bg, $btn-legacy-buy-border);
  }

}

// Icons inside buttons
.btn {
  i.right {
    margin-right: 0;
    margin-left: 5px;
  }
}
