//step 5 - paiement
p.payment_module {
  margin-bottom: 10px;
  a {
    display: block;
    border: 1px solid $table-border-color;
    @include border-radius(4px);
    font-size: 17px;
    line-height: 23px;
    font-weight: bold;
    padding: 33px 40px 34px 99px;
    letter-spacing: -1px;
    position: relative;
    &.bankwire {
      background: url(../img/bankwire.png) 15px 12px no-repeat $base-box-bg;
    }
    &.cheque {
      background: url(../img/cheque.png) 15px 15px no-repeat $base-box-bg;
    }
    &.cash {
      background: url(../img/cash.png) 15px 15px no-repeat $base-box-bg;
    }
    &.cheque, &.bankwire, &.cash {
      &:after {
        display: block;
        content: "\f054";
        position: absolute;
        right: 15px;
        margin-top: -11px;
        top: 50%;
        font-family: $font-icon;
        font-size: 25px;
        height: 22px;
        width: 14px;
        color: $link-color;
      }
    }
    &:hover {
      background-color: #f6f6f6;
    }
    span {
      font-weight: bold;
      color: $gray-text-color;
    }
  }
}

.payment_module.box {
  margin-top: 20px;
}

p.cheque-indent {
  margin-bottom: 9px;
}

.cheque-box {
  .form-group {
    margin-bottom: 0px;
    .form-control {
      width: 269px;
    }
  }
}

.order-confirmation.box {
  line-height: 29px;
  a {
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}
