//
// Step 4: Carriers
//

.delivery_option {
  table {
    background: #fff;
  }
  td {
    vertical-align: middle;
  }
}

.delivery_option_radio {
  padding: 0;
  text-align: center;
}

.delivery_option_logo {
  width: 100px;
  text-align: center;
}

.delivery_option_price {
  width: 160px;
}

.carrier_title {
  font-weight: bold;
}

#gift_div {
  display: none;
}

