//
// Step 3: Address
//

#id_address_invoice,
#id_address_delivery {
  width: 270px;
}

.address_delivery,
#address_invoice_form {
  position: relative;
}

.addresses {
  .waitimage {
    display: none;
    width: 24px;
    height: 24px;
    background-image: url("../../../img/loader.gif");
    background-repeat: no-repeat;
    position: absolute;
    top: 31px;
    left: 280px;
  }
}

.multishipping_close_container {
  text-align: center;
}
