//
// Step 5: Payment
//

.payment_module {
  a {
    display: block;
    border: 1px solid $table-border-color;
    font-size: 1.25em;
    font-weight: bold;
    padding: 33px 40px 34px 99px;
    position: relative;
    &:hover {
      background-color: #f6f6f6;
    }
    &.bankwire {
      background: url(../img/bankwire.png) 15px 12px no-repeat #fbfbfb;
    }
    &.cheque {
      background: url(../img/cheque.png) 15px 15px no-repeat #fbfbfb;
    }
    &.cash {
      background: url(../img/cash.png) 15px 15px no-repeat #fbfbfb;
    }
    &.cheque,
    &.bankwire,
    &.cash {
      &:after {
        display: block;
        content: "\f054";
        position: absolute;
        right: 15px;
        margin-top: -11px;
        top: 50%;
        font-family: $font-icon;
        font-size: 25px;
        height: 22px;
        width: 14px;
      }
    }
  }
}

