//
// Step 1: Cart Summary
//

.cart_quantity,
.cart_gift_quantity {
  width: 91px;
}

.cart_quantity_input {
  width: 91px;
  margin-bottom: 3px;
}

.cart_quantity_button {
  .btn {
    float: left;
    margin-right: 3px;
    &:last-of-type {
      margin-right: 0;
    }
  }
}

.cart_quantity_delete,
.price_discount_delete {
  font-size: 2em;
}

.cart_product,
.cart_avail,
.cart_delete,
.cart_discount_delete {
  text-align: center;
}

.cart_unit,
.cart_total,
.cart_discount_price,
#cart_summary tfoot td {
  text-align: right;
}

.cart_description {
  small {
    display: block;
  }
}

.total_price_container,
#total_price_container {
  font-size: 1.5em;
}

#cart_summary #cart_voucher {
  text-align: left;
}

#cart_voucher {
  fieldset {
    margin-bottom: 10px;
  }
}

#discount_name {
  float: left;
  width: 210px;
}

#display_cart_vouchers {
  span {
    font-weight: bold;
    cursor: pointer;
    color: $link-color;
    &:hover {
      color: $link-hover-color;
    }
  }
}

#cart_summary {
  .gift-icon {
    color: #fff;
    background-color: #0088cc;
    display: inline-block;
    padding: 2px 5px;
  }
}
