// PAYMENT - PAGE ORDER
// nav bottom
.cart_navigation {
  margin: 0 0 20px;

  // Confirm / proceed button
  .button-medium {
    float: right;
  }

  // Back button
  .button-exclusive {
    @include button-size($padding-large-vertical, $padding-large-horizontal, $font-size-large, $line-height-large, $btn-border-radius-large);
    i {
      margin-right: 5px;
    }
  }
}
