//PAGE ORDER-OPC
.delivery_option_carrier td {
  width: 200px;
}

.delivery_option_carrier td + td {
  width: 280px;
}

.delivery_option_carrier td + td + td {
  width: 200px;
}

.delivery_option_carrier tr td {
  padding: 5px;
}

.delivery_option_carrier.selected {
  display: table;
}

.not-displayable {
  display: none;
}
