.payment_option_form {
  display: none;
}

.payment_option_logo {
  height:50px;
  max-height: 50px;
}

.payment_module_adv {
  height:120px;
  max-height: 120px;
}

.payment_option_selected {
  i {
    color: green;
  }
  display: none;
  margin-top: 15px;
}

.payment_option_cta {
  margin-left: 10px;
  color: #333 !important;
}

.tnc_box {
  background: #fbfbfb;
  border: 1px solid #d6d4d4;
  padding: 14px 18px 13px;
  margin: 0 0 30px 0;
  line-height: 23px;
}

.pointer-box {
  cursor: pointer;
}
