@import 'vendor/yamm';

/*
 * Module styles
 */
#cttopmenu {
  margin-top: 15px;
  .dropdown-menu {
    z-index: 1;
    font-size: 1.25em;
  }
  .dropdown-content {
    padding: 10px 15px;
  }
}

// @TODO Better solution
@media (min-width: 768px) {
  #cttopmenu-navbar-collapse {
    padding-left: 0;
  }
}
