@import "compass";
@import "./../../theme_variables";
@import "./../../vendor_variables";

.cancel, .star {
  overflow: hidden;
  float: left;
  margin: 0 1px 0 0;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.cancel,
.cancel a {
  background: url(../../../modules/productcomments/img/delete.gif) no-repeat 0 -16px !important;
}

.cancel a, .star a {
  display: block;
  width: 100%;
  height: 100%;
  background-position: 0 0;
}

div.star_on a {
  background-position: 0 -16px;
}

div.star_hover a,
div.star a:hover {
  background-position: 0 -32px;
}

//addons comments products
form#sendComment fieldset {
  padding: 10px;
  border: 1px solid #cccccc;
  background: #eeeeee;
}

form#sendComment h3 {
  font-size: 14px;
}

#new_comment_form p.text {
  margin-bottom: 0;
  padding-bottom: 0;
}

#sendComment p.text label,
#sendComment p.textarea label {
  display: block;
  margin: 12px 0 4px;
  font-weight: bold;
  font-size: 12px;
}

#sendComment p.text input {
  padding: 0 5px;
  height: 28px;
  width: 498px;
  border: 1px solid #cccccc;
  background: url(../img/bg_input.png) repeat-x 0 0 #fff;
}

#sendComment p.textarea textarea {
  height: 80px;
  width: 508px;
  border: 1px solid #cccccc;
}

#sendComment p.submit {
  padding: 0;
  text-align: right;
}

#sendComment p.closeform {
  float: right;
  padding: 0;
  height: 12px;
  width: 12px;
  text-indent: -5000px;
  background: url(../img/icon/delete.gif) no-repeat 0 0;
}

.star {
  position: relative;
  top: -1px;
  float: left;
  width: 14px;
  overflow: hidden;
  cursor: pointer;
  font-size: 14px;
  font-weight: normal;
  display: block;
  a {
    display: block;
    position: absolute;
    text-indent: -5000px;
  }
  &:after {
    content: "\f006";
    font-family: $font-icon;
    display: inline-block;
    color: #777676;
  }
  &.star_on {
    display: block;
    &:after {
      content: "\f005";
      font-family: $font-icon;
      display: inline-block;
      color: #ef8743;
    }
  }
  &..star_hover {
    &:after {
      content: "\f005";
      font-family: $font-icon;
      display: inline-block;
      color: #ef8743;
    }
  }
}

//
//
// Comments info block in product description column

#product_comments_block_extra {
  padding: 10px;
  font-weight: bold;
  border: 1px solid $ps-border-color;
  background: #fbfbfb;
  margin: 0 0 15px;
  .star_content {
    display: inline-block;
  }
}

.comments_advices {
  margin: 0;
}

//
// Comment popup form
//
#fancybox-wrap {
  width: 585px;
}
#fancybox-content {
  width: 585px;
  border-width: 0;
}
#new_comment_form {
  overflow: hidden;
  text-align: left;
  h2{
    margin-bottom: 10px;
  }
  .title {
    padding: 10px;
    font-size: 13px;
    color: #fff;
    text-transform: uppercase;
    background: #333;
  }
  ul.grade_content {
    list-style-type: none;
    margin: 0 0 20px 0;
    li{
      width: 50%;
    }
    span{
      display:inline-block;
      padding: 0 10px;
      width: 150px;
      font-weight: bold;
    }
    .cancel {
      margin-right: 5px;
    }
  }
  .product {
    padding: 15px;
    img{
      border: 1px solid #d6d4d4;
    }
    .product_desc {
      line-height: 18px;
      .product_name {
        padding: 10px 0 5px;
        font-size: 13px;
        color: #000;
      }
    }
  }
  .new_comment_form_content {
    padding: 15px 25px 15px 15px;
    background: #f8f8f8;
    @media (max-width: $screen-xs-max) { //max 767px
      padding-left:25px;
    }
    .intro_form {
      padding-bottom: 10px;
      font-weight: bold;
      font-size: 12px;
    }
  }
  label {
    display: block;
    margin: 12px 0 4px 0;
    font-weight: bold;
    font-size: 12px;
  }
  input,
  textarea  {
    padding: 0 5px;
    height: 28px;
    width: 100%;
    border: 1px solid #ccc;
    background: #fff;
  }
  textarea {
    height: 80px;
  }
  .submit {
    margin-top: 20px;
    padding: 0;
    font-size: 13px;
    text-align: right;
  }

  #criterions_list {
    border-bottom: 1px solid #CCC;
    padding-bottom: 15px;
    list-style-type: none;
    li{
      margin-bottom: 10px;
    }
    label {
      display: inline;
      float: left;
      margin: 0 10px 0 0;
    }
    .star_content {
      float: left;
    }
  }
  #new_comment_form_footer {
    margin-top: 20px;
    font-size: 12px;
  }
}

//
// Product comments section in product page
//
#product_comments_block_tab {
  .comment {
    margin: 0 0 20px;
    padding-top: 10px;
    border-top: 1px solid $ps-border-color;
    &:first-child {
      padding: 0;
      border: none;
    }
  }
}

.report_btn {
  padding-left: 0;
}

@media (min-width: $screen-sm-min) {
  .comment_details {
    border-left: 1px solid #d6d4d4;
  }
}

//
// Product list comment styles
//
.product-container {
  .star_content {
    display: inline-block;
  }
}
