//PAGES ADRESSES, IDENTITY
#address,
#identity,
#account-creation_form,
#new_account_form,
#opc_account_form,
#authentication {
  p.required {
    color: #f13340;
    margin: 9px 0 16px 0;
  }
  p.inline-infos {
    color: red;
  }
  .form-group {
    .form-control {
      max-width: 271px;
    }
  }
}

#identity,
#authentication,
#order-opc {
  #center_column {
    form.std {
      .row {
        .col-xs-4 {
          padding-left: 5px;
          padding-right: 5px;
          max-width: 94px;
          .form-control {
            max-width: 84px;
          }
        }
      }
    }
    .footer_links {
      border: none;
      padding-top: 0;
    }
  }
}

#new_account_form .box {
  .date-select {
    padding-bottom: 10px;
  }
  .top-indent {
    padding-top: 10px;
  }
  .customerprivacy {
    padding-top: 15px;
  }
}

#authentication {
  fieldset.account_creation {
    margin-bottom: 20px;
  }
}
