#address,
#identity,
#account-creation_form,
#new_account_form,
#opc_account_form,
#authentication {
  .form-control {
    max-width: 271px;
  }
}

p.required {
  color: #f13340;
}

// Birth date select boxes
.date-select {
  .row {
    max-width: 271px + 10px;
    margin: 0 -5px;
  }
  .col-xs-4 {
    padding: 0 5px;
  }
}

.account_creation {
  margin-bottom: 15px;
}
