//Homepage Tabs
#home-page-tabs {
  border: none;
  background: $light-background;
  // min 768px
  @media (min-width: $screen-sm) {
    padding: 10px 0;
    margin: 0 0 0 -18px;
  }
  > li {
    margin-bottom: 0;
    // min 768px
    @media (min-width: $screen-sm-max) {
      border-left: 1px solid $base-border-color;
      margin: 0 0px 0 9px;
      padding: 0 0px 0 9px;
    }
    // max 479px
    @media (max-width: $screen-xs - 1) {
      width: 100%;
    }
    a {
      font-weight: 600;
      font-size: 21px;
      line-height: 24px;
      text-transform: uppercase;
      border: none;
      outline: none;
      margin: 0;
      padding: 10px;
      // min 768px
      @media (min-width: $screen-sm) {
        padding: 1px 10px;
      }
      @media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
        padding: 10px 10px;
      }
    }
    &:first-child {
      border: none;
    }
  }
  > li.active a,
  >li a:hover {
    background: $dark-background;
    color: #fff;
    padding: 10px;
    // min 768px
    @media (min-width: $screen-sm) {
      margin: -9px 0;
    }
    @media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
      margin: 0px 0;
    }
  }
}
