// PASSWORD
#password {
  .box {
    p {
      margin-bottom: 9px;
    }
    .form-group {
      margin-bottom: 20px;
      .form-control {
        width: 263px;
      }
    }
  }
  .footer_links {}
  padding-top: 0;
  border: none;
}
