//Homepage pre-footer
#facebook_block {
  overflow: hidden;
  background: #f2f2f2;
  min-height: 344px;
  height: 344px;
  padding-right: 29px;
  padding-left: 29px;
  // max 991px
  @media (max-width: $screen-sm-max) {
    min-height: 354px;
    height: 354px;
    padding-left: 13px;
    padding-right: 13px;
  }
  // max 767px
  @media (max-width: $screen-xs-max) {
    width: 100%;
    min-height: 1px;
  }
}

#facebook_block {
  h4 {
    padding: 35px 0 0 0;
    margin: 0 0 12px 0;
    font-weight: 300;
    font-size: 21px;
    line-height: 25px;
    // max 991px
    @media (max-width: $screen-sm-max) {
      font-size: 18px;
    }
    // max 767px
    @media (max-width: $screen-xs-max) {
      padding-top: 20px !important;
    }
    // 768px
    @media (max-width: $screen-sm) {
      font-size: 16px;
    }
  }
  .facebook-fanbox {
    background: #fff;
    border: 1px solid #aaaaaa;
    padding-bottom: 10px;
  }
}

.ie8 {
  #facebook_block {
    height: 344px;
  }
}
