//PAGE SEARCH
#instant_search_results {
  a.close {
    font-size: 13px;
    font-weight: 600;
    opacity: 1;
    line-height: inherit;
    text-transform: none;
    font-family: $font-family;
    &:hover {
      color: $link-hover-color;
    }
  }
}
