//Social Sharing
.btn-facebook, .btn-twitter, .btn-google-plus, .btn-pinterest {
  &:hover {
    border-color: white;
  }
}

.btn-facebook {
  i {
    color: #435f9f;
  }
  &:hover {
    color: white;
    background-color: #435f9f;
    i {
      color: white;
    }
  }
}

.btn-twitter {
  i {
    color: #00aaf0;
  }
  &:hover {
    color: white;
    background-color: #00aaf0;
    i {
      color: white;
    }
  }
}

.btn-google-plus {
  i {
    color: #e04b34;
  }
  &:hover {
    color: white;
    background-color: #e04b34;
    i {
      color: white;
    }
  }
}

.btn-pinterest {
  i {
    color: #ce1f21;
  }
  &:hover {
    color: white;
    background-color: #ce1f21;
    i {
      color: white;
    }
  }
}
