#header .shopping_cart {
  position: relative;
  margin-top: 30px;
  > a:first-child {
    padding: 0 15px;
    height: 46px;
    line-height: 46px;
    &:after {
      content: "\f0d7";
      font-family: $font-icon;
      display: inline-block;
      float: right;
      font-size: 18px;
      color: #686666;
      padding: 0;
    }
  }
  > a:first-child:hover {
    &:after {
      content: "\f0d8";
      padding: 0;
    }
  }

  @media (max-width: $screen-xs-max) {
    margin-top: 15px;
  }

  @media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
    margin-top: 10px;
  }

  @media (min-width: $screen-md) and (max-width: $screen-md-max) {
    margin-top: 20px;
  }
}
