#blockcart {
  position: relative;
  margin-top: 30px;

  @media (max-width: $screen-xs-max) {
    margin-top: 15px;
  }

  @media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
    margin-top: 10px;
  }

  @media (min-width: $screen-md) and (max-width: $screen-md-max) {
    margin-top: 20px;
  }

  .ajax_cart_total {
    display: none !important;
  }
  .block_cart_expand,
  .block_cart_collapse {
    &:after {
      content: "\f0d7";
      font-family: $font-icon;
      display: inline-block;
      float: right;
      font-size: 18px;
      color: #686666;
      padding: 0;
    }
  }
  .block_cart_collapse {
    &:after {
      content: "\f0d8";
      padding: 4px 0 2px 0;
    }
  }
}

#blockcart-header {

  padding: 0 15px;
  height: 46px;
  line-height: 46px;
  display: block;
  overflow: hidden;

  &:after {
    content: "\f0d7";
    font-family: $font-icon;
    float: right;
  }

  &:hover {
    &:after {
      content: "\f0d8";
    }
  }

}
