//BOXES
.box {
  background: #fbfbfb;
  border: 1px solid $ps-border-color;
  padding: 14px 18px 13px;
  margin: 0 0 30px 0;
}

.product-box {
  width: 178px;
  float: left;
  .product-image {
    border: 1px solid #d6d4d4;
    background: white;
    padding: 5px;
    display: block;
    img {
      max-width: 100%;
      width: 100%;
      height: auto;
    }
  }
}
