$button-text-color: #fff;

.link-button {
  font-weight: bold;
  i {
    margin-right: 5px;
    &.large {
      font-size: 26px;
      line-height: 26px;
      vertical-align: -3px;
      color: silver;
    }
  }
}

.btn.button-plus,
.btn.button-minus {
  width: 27px;
  text-align: center;
  padding: 2px;
}
