//buttons
input.button_mini,
input.button_small,
input.button,
input.button_large,
input.button_mini_disabled,
input.button_small_disabled,
input.button_disabled,
input.button_large_disabled,
input.exclusive_mini,
input.exclusive_small,
input.exclusive,
input.exclusive_large,
input.exclusive_mini_disabled,
input.exclusive_small_disabled,
input.exclusive_disabled,
input.exclusive_large_disabled,
a.button_mini,
a.button_small,
a.button,
a.button_large,
a.exclusive_mini,
a.exclusive_small,
a.exclusive,
a.exclusive_large,
span.button_mini,
span.button_small,
span.button,
span.button_large,
span.exclusive_mini,
span.exclusive_small,
span.exclusive,
span.exclusive_large,
span.exclusive_large_disabled {
  position: relative;
  display: inline-block;
  padding: 5px 7px;
  border: 1px solid #cc9900;
  font-weight: bold;
  color: black;
  background: url(../img/bg_bt.gif) repeat-x 0 0 #f4b61b;
  cursor: pointer;
  white-space: normal;
  text-align: left;
}

*:first-child+html input.button_mini,
*:first-child+html input.button_small,
*:first-child+html input.button,
*:first-child+html input.button_large,
*:first-child+html input.button_mini_disabled,
*:first-child+html input.button_small_disabled,
*:first-child+html input.button_disabled,
*:first-child+html input.button_large_disabled,
*:first-child+html input.exclusive_mini,
*:first-child+html input.exclusive_small,
*:first-child+html input.exclusive,
*:first-child+html input.exclusive_large,
*:first-child+html input.exclusive_mini_disabled,
*:first-child+html input.exclusive_small_disabled,
*:first-child+html input.exclusive_disabled,
*:first-child+html input.exclusive_large_disabled {
  border: none;
}

//hover button
input.button_mini:hover,
input.button_small:hover,
input.button:hover,
input.button_large:hover,
input.exclusive_mini:hover,
input.exclusive_small:hover,
input.exclusive:hover,
input.exclusive_large:hover,
a.button_mini:hover,
a.button_small:hover,
a.button:hover,
a.button_large:hover,
a.exclusive_mini:hover,
a.exclusive_small:hover,
a.exclusive:hover,
a.exclusive_large:hover {
  text-decoration: none;
  background-position: left -50px;
}

//active button
input.button_mini:active,
input.button_small:active,
input.button:active,
input.button_large:active,
input.exclusive_mini:active,
input.exclusive_small:active,
input.exclusive:active,
input.exclusive_large:active,
a.button_mini:active,
a.button_small:active,
a.button:active,
a.button_large:active,
a.exclusive_mini:active,
a.exclusive_small:active,
a.exclusive:active,
a.exclusive_large:active {
  background-position: left -100px;
}

input.button_disabled,
input.exclusive_disabled,
span.exclusive {
  border: 1px solid #cccccc;
  color: #999999;
  background: url(../img/bg_bt_2.gif) repeat-x 0 0 #cccccc;
  cursor: default;
}

.button.button-small {
  font-weight: bold;
  font-size: 13px;
  line-height: 17px;
  color: $button-text-color;
  background: $button-small-bg;
  border: 1px solid;
  border-color: #666666 #5f5f5f #292929 #5f5f5f;
  padding: 0;
  @include border-radius(0);
  span {
    display: block;
    padding: 3px 8px 3px 8px;
    border: 1px solid;
    border-color: #8b8a8a;
    i {
      vertical-align: 0px;
      margin-right: 5px;
      &.right {
        margin-right: 0;
        margin-left: 5px;
      }
    }
    &:hover {
      background: $button-small-hover-bg;
      border-color: #303030 #303030 #666666 #444444;
    }
  }
}

.button.button-medium {
  font-size: 17px;
  line-height: 21px;
  color: $button-text-color;
  padding: 0;
  font-weight: bold;
  background: rgb(67, 183, 84);
  @include gradient-vertical(rgba(67, 183, 84, 1), rgba(66, 172, 82, 1));
  border: 1px solid;
  border-color: #399a49 #247f32 #1a6d27 #399a49;
  @include border-radius(0);
  span {
    display: block;
    padding: 10px 10px 10px 14px;
    border: 1px solid;
    border-color: #74d578;
    // max 480px
    @media (max-width: $screen-xs) {
      font-size: 15px;
      padding-right: 7px;
      padding-left: 7px;
    }
    i {
      &.left {
        font-size: 24px;
        vertical-align: -2px;
        margin: -4px 10px 0 0;
        display: inline-block;
        // max 480px
        @media (max-width: $screen-xs) {
          margin-right: 5px;
        }
      }
      &.right {
        margin-right: 0;
        margin-left: 9px;
        // max 480px
        @media (max-width: $screen-xs) {
          margin-left: 5px;
        }
      }
    }
  }
  &:hover {
    background: rgb(58, 160, 76);
    @include gradient-vertical(rgba(58, 160, 76, 1), rgba(58, 160, 74, 1));
    border-color: #196f28 #399a49 #399a49 #258033;
  }
}

.button.button-medium.exclusive {
  border-color: #db8600 #d98305 #c86d26 #d98305;
  @include background-image(linear-gradient(top, rgba(253, 170, 2, 1), rgba(254, 151, 2, 1)));
  span {
    border-color: #fec133 #febc33 #feb233 #febc33;
  }
  &:hover {
    background: #f89609;
    border-color: #a6550c #ba6708 #db8600 #ba6708;
    span {
      border-color: #fec133;
    }
  }
}

.link-button {
  font-weight: bold;
  i {
    margin-right: 5px;
    &.large {
      font-size: 26px;
      line-height: 26px;
      vertical-align: -3px;
      color: silver;
    }
  }
}

.btn.button-plus,
.btn.button-minus {
  font-size: 14px;
  line-height: 14px;
  padding: 0;
  border: 1px solid;
  border-color: #dedcdc #c1bfbf #b5b4b4 #dad8d8;
  @include border-radius(0);
  span {
    display: block;
    border: 1px solid $light-border-color;
    vertical-align: middle;
    width: 25px;
    height: 25px;
    text-align: center;
    vertical-align: middle;
    padding: 4px 0 0 0;
    background: rgb(255, 255, 255);
    @include gradient-vertical(rgba(255, 255, 255, 1), rgba(251, 251, 251, 1));
  }
  &:hover {
    color: $base-text-color;
    span {
      filter: none;
      background: #f6f6f6;
    }
  }
}

.button.exclusive-medium {
  font-size: 17px;
  padding: 0;
  line-height: 21px;
  color: $button-em-color;
  font-weight: bold;
  border: 1px solid;
  border-color: #cacaca #b7b7b7 #9a9a9a #b7b7b7;
  span {
    border: 1px solid;
    border-color: $light-border-color;
    display: block;
    padding: 9px 10px 11px 10px;
    background: rgb(247, 247, 247);
    @include gradient-vertical(rgba(247, 247, 247, 1), rgba(237, 237, 237, 1));
    // max 480px
    @media (max-width: $screen-xs) {
      font-size: 15px;
      padding-right: 7px;
      padding-left: 7px;
    }
    &:hover {
      border-color: #9e9e9e #c2c2c2 #c8c8c8 #c2c2c2;
    }
  }
}

.button.ajax_add_to_cart_button {
  font-weight: 700;
  font-size: 17px;
  line-height: 21px;
  color: $button-text-color;
  padding: 0;
  border: 1px solid;
  border-color: #0079b6 #006fa8 #012740 #006fa8;
  span {
    border: 1px solid;
    border-color: #06b2e6;
    padding: 10px 14px;
    display: block;
    background: rgb(0, 154, 208);
    @include gradient-vertical(rgba(0, 154, 208, 1), rgba(0, 122, 183, 1));
  }
  &:hover {
    border-color: #01314e #004b74 #0079b6 #004b74;
    span {
      filter: none;
      background: #0084bf;
    }
  }
}

.button.lnk_view {
  font-weight: 700;
  font-size: 17px;
  line-height: 21px;
  color: $base-text-color;
  padding: 0;
  border: 1px solid;
  border-color: #cacaca #b7b7b7 #9a9a9a #b7b7b7;
  span {
    border: 1px solid;
    border-color: $light-border-color;
    padding: 10px 14px;
    display: block;
    background: rgb(247, 247, 247);
    @include gradient-vertical(rgba(247, 247, 247, 1), rgba(237, 237, 237, 1));
  }
  &:hover {
    border-color: #9e9e9e #9e9e9e #c8c8c8 #9e9e9e;
    span {
      filter: none;
      background: #e7e7e7;
    }
  }
  i.left {
    padding-right: 8px;
    color: #777777;
  }
}
