// FOOTER
.footer-container {
  background-color: #333;
  // min 768px
  @media (min-width: $screen-sm) {
    background: url(../img/footer-bg.png) repeat-x #333;
  }
  .container {
    padding-bottom: 100px;
  }
  #footer {
    color: #777777;
    .row {
      position: relative;
    }
    ul.row{
      position: static;
    }
    .footer-block {
      margin-top: 45px;
      // max 767px
      @media (max-width: $screen-xs-max) {
        margin-top: 20px;
      }
    }
    a {
      color: #777777;
      &:hover {
        color: #fff;
      }
    }
    h4 {
      color: #fff;
      margin: 0 0 13px 0;
      // max 767px
      @media (max-width: $screen-xs-max) {
        position: relative;
        margin-bottom: 0;
        padding-bottom: 13px;
        &:after {
          display: block;
          content: "\f055";
          font-family: $font-icon;
          position: absolute;
          right: 0;
          top: 1px;
        }
        &.active:after {
          content: "\f056";
        }
      }
      a {
        color: #fff;
      }
    }
    ul {
      li {
        padding-bottom: 8px;
      }
    }
    #block_contact_infos {
      border-left: 1px solid #515151;
      // max 767px
      @media (max-width: $screen-xs-max) {
        border: none;
      }
      > div {
        padding: 0 0 0 5px;
        // max 767px
        @media (max-width: $screen-xs-max) {
          padding-left: 0;
        }
        ul {
          li {
            padding: 0 0 7px 4px;
            overflow: hidden;
            line-height: 30px;
            > span,
            > span a {
              color: #fff;
              font-weight: normal;
            }
            i {
              font-size: 25px;
              width: 32px;
              text-align: center;
              padding-right: 12px;
              float: left;
              color: #908f8f;
            }
          }
        }
      }
    }
    .blockcategories_footer {
      clear: left;
    }
    #social_block {
      float: left;
      width: 50%;
      padding: 22px 15px 0 15px;
      // max 767px
      @media (max-width: $screen-xs-max) {
        width: 100%;
        float: left;
        padding-top: 5px;
      }
      ul {
        float: right;
        @media (max-width: $screen-xs-max) {
          float: none;
        }
        li {
          float: left;
          width: 40px;
          text-align: center;
          // min 768px max 991px
          @media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
            width: 30px;
          }
          a {
            display: inline-block;
            color: #908f8f;
            font-size: 28px;
            // min 768px max 991px
            @media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
              font-size: 20px;
            }
            span {
              display: none;
            }
            &:before {
              display: inline-block;
              font-family: $font-icon;
              vertical-align: -5px;
              font-weight: normal;
              -webkit-font-smoothing: antialiased;
              -moz-osx-font-smoothing: grayscale;
            }
            &:hover {
              color: #fff;
            }
          }
          &.facebook {
            a {
              &:before {
                content: "\f09a";
              }
            }
          }
          &.twitter {
            a {
              &:before {
                content: "\f099";
              }
            }
          }
          &.rss {
            a {
              &:before {
                content: "\f09e";
              }
            }
          }
          &.youtube {
            a {
              &:before {
                content: "\f167";
              }
            }
          }
          &.google-plus {
            a {
              &:before {
                content: "\f0d5";
              }
            }
          }
          &.pinterest {
            a {
              &:before {
                content: "\f0d2";
              }
            }
          }
          &.vimeo {
            a {
              &:before {
                content: "\f194";
              }
            }
          }
          &.instagram {
            a {
              &:before {
                content: "\f16d";
              }
            }
          }
        }
      }
      h4 {
        float: right;
        margin-bottom: 0;
        font-size: 21px;
        line-height: 25px;
        text-transform: none;
        padding: 0 10px 0 0;
        // max 767px
        @media (max-width: $screen-xs-max) {
          display: none;
          text-align: center;
        }
      }
    }
    .bottom-footer {
      position: absolute;
      bottom: -55px;
      left: 0;
      div {
        padding: 15px 0 0 0;
        border-top: 1px solid #515151;
        width: 100%;
      }
    }
  }
}

// BLOCK .footer_links (cms pages)
ul.footer_links {
  padding: 20px 0 0px 0;
  border-top: 1px solid $base-border-color;
  height: 65px;
  li {
    float: left;
    &+li {
      margin-left: 10px;
    }
  }
}

