textarea {
  resize: vertical;
}

label {
  &.required {
    &:after {
      content: '*';
      color: $state-danger-text;
    }
  }
}

//Form validate
.form-group {
  &.form-error {
    input, textarea {
      border: 1px solid #f13340;
      color: #f13340;
      background: url(../img/icon/form-error.png) 98% 9px no-repeat #fff1f2;
    }
  }
  &.form-ok {
    input, textarea {
      border: 1px solid #46a74e;
      color: #35b33f;
      background: url(../img/icon/form-ok.png) 98% 9px no-repeat #ddf9e1;
    }
  }
  &.form-error, &.form-ok {
    .form-control {
      padding-right: 30px;
    }
  }
}

//form
.form-control {
  &.grey {
    background: $base-box-bg;
  }
}
