.page-heading {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  padding: 0 0 17px 0;
  margin-bottom: 30px;
  border-bottom: 1px solid $ps-border-color;
  overflow: hidden;
  span.heading-counter {
    font-weight: bold;
    font-size: 13px;
    line-height: 22px;
    float: right;
    text-transform: none;
    margin-bottom: 10px;
    @media (max-width: $screen-xs) {
      float: none;
      display: block;
      padding-top: 5px;
    }
  }
  span.lighter {
    color: #9c9c9c;
  }
  &.bottom-indent {
    margin-bottom: 16px;
  }
  &.product-listing {
    border-bottom: none;
    margin-bottom: 0;
  }
}

.page-subheading {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 18px;
  padding: 0 0 15px;
  line-height: normal;
  margin-bottom: 12px;
  border-bottom: 1px solid $ps-border-color;
}

.page_product_box h3,
h3.page-product-heading {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  padding: 14px 20px 17px;
  margin: 0 0 20px;
  position: relative;
  border: 1px solid $ps-border-color;
  border-bottom: none;
  background: #fbfbfb;
}
