body {
  min-width: 320px;
  height: 100%;
  line-height: 18px;
  font-size: 13px;
  &.content_only {
    min-width: 0px;
  }
}

#header {
  z-index: 5003;
}

.columns-container {
  background: $light-background;
}

#columns {
  position: relative;
  padding-bottom: 50px;
  padding-top: 15px;
}

#index {
  .tab-content {
    margin-top: 35px;
    margin-bottom: 34px;
  }
}

header {
  z-index: 1;
  position: relative;
  background: $light-background;
  padding-bottom: 15px;
  .banner {
    background: black;
    max-height: 100%;
    .row {
      margin: 0px;
    }
  }
  .nav {
    background: $dark-background;
    color: $gray-text-color;
    .row {
      margin: 0px;
    }
    nav {
      width: 100%;
    }
  }
  .row {
    position: relative;
    > .container {
      position: relative;
    }
    #header_logo {
      padding-top: 15px;
      @extend .col-sm-4;
      @media (max-width: $screen-md) {
        padding-top: 40px;
      }
      @media (max-width: $screen-xs-max) {
        padding-top: 15px;
        img {
          margin: 0 auto;
        }
      }
    }
  }
  @media (min-width: $screen-xs-max){
    .col-sm-4 + .col-sm-4 + .col-sm-4 {
      float: right;
    }
  }
}

.ie8 #header #header_logo {
  width: 350px;
}

//title
#center_column {
  .page_product_box {
    h3 {
      @include sub-heading;
    }
  }
}

.header-container {
  background: $light-background;
}


@media only screen and (min-width: 1200px) {
  .container {
    padding-left: 0;
    padding-right: 0;
  }
}
