//product elements
.product-name {
}

.price {
  font-size: 13px;
  color: $product-price-color;
  white-space: nowrap;
}

.price.product-price {
  font-weight: 600;
  font-size: 21px;
  line-height: 26px;
  color: $product-price-color;
}

.old-price {
  color: $product-old-price-color;
  text-decoration: line-through;
}

.old-price.product-price {
  font-size: 17px;
}

.special-price {
  color: $product-special-price-color;
}

.price-percent-reduction {
  background: #f13340;
  border: 1px solid #d02a2c;
  font-weight: 600;
  font-size: 21px;
  line-height: 24px;
  color: #fff;
  padding: 0 5px 0 3px;
  display: inline-block;
  &.small {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    padding: 1px 6px;
  }
}

//Labels New/Sale
.new-box,
.sale-box {
  position: absolute;
  top: -4px;
  overflow: hidden;
  height: 85px;
  width: 85px;
  text-align: center;
  z-index: 0;
}

.new-box {
  left: -4px;
}

.sale-box {
  right: -5px;
}

.new-label {
  font-weight: 700;
  font-size: 14px;
  line-height: 12px;
  color: #fff;
  background: #6ad4ff;
  text-transform: uppercase;
  padding: 9px 0 7px;
  width: 130px;
  text-align: center;
  display: block;
  position: absolute;
  left: -33px;
  top: 16px;
  z-index: 1;
  @include rotate(-45deg);
  &:before {
    position: absolute;
    bottom: -3px;
    right: 5px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 4px 4px 0px 4px;
    border-color: #21a3d8 transparent transparent transparent;
    content: ".";
    text-indent: -5000px;
    @include rotate(225deg);
  }
  &:after {
    position: absolute;
    bottom: -3px;
    left: 3px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 4px 4px 0px 4px;
    border-color: #21a3d8 transparent transparent transparent;
    content: ".";
    text-indent: -5000px;
    @include rotate(135deg);
  }
}

.sale-label {
  font-weight: 700;
  font-size: 14px;
  line-height: 12px;
  color: #fff;
  background: #f13340;
  text-transform: uppercase;
  padding: 9px 0 7px;
  width: 130px;
  text-align: center;
  display: block;
  position: absolute;
  right: -33px;
  top: 16px;
  z-index: 1;
  @include rotate(45deg);
  &:before {
    position: absolute;
    bottom: -3px;
    right: 4px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 4px 4px 0px 4px;
    border-color: #ad2b34 transparent transparent transparent;
    content: ".";
    text-indent: -5000px;
    @include rotate(225deg);
  }
  &:after {
    position: absolute;
    bottom: -3px;
    left: 5px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 4px 4px 0px 4px;
    border-color: #ad2b34 transparent transparent transparent;
    content: ".";
    text-indent: -5000px;
    @include rotate(135deg);
  }
}
