//product elements
.product-name {
  font-size: 17px;
  line-height: 23px;
  color: $product-name-color;
  margin-bottom: 0;
  a {
    font-size: 17px;
    line-height: 23px;
    color: $product-name-color;
    &:hover {
      color: $product-name-hover-color;
    }
    @media (max-width: $screen-sm) {
      font-size: 14px;
    }
  }
}

.price {
  font-size: 13px;
  color: $price-color;
  white-space: nowrap;
}

.price.product-price {
  font: 600 21px / 26px $font-custom;
  color: $product-price-color;
}

.old-price {
  color: $product-old-price-color;
  text-decoration: line-through;
}

.old-price.product-price {
  font-size: 17px;
}

.special-price {
  color: $product-special-price-color;
}

.price-percent-reduction {
  background: #f13340;
  border: 1px solid #d02a2c;
  font: 600 21px / 24px $font-custom;
  color: $light-text-color;
  padding: 0 5px 0 3px;
  display: inline-block;
  &.small {
    font: 700 14px / 17px $font-family;
    padding: 1px 6px;
  }
}

//Labels New/Sale
.new-box,
.sale-box {
  position: absolute;
  top: -4px;
  overflow: hidden;
  height: 85px;
  width: 85px;
  text-align: center;
  z-index: 0;
}

.new-box {
  left: -4px;
}

.sale-box {
  right: -5px;
}

.new-label {
  font: 700 14px / 12px $font-family;
  color: $light-text-color;
  background: #6ad4ff;
  text-transform: uppercase;
  padding: 9px 0 7px;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.24);
  width: 130px;
  text-align: center;
  display: block;
  position: absolute;
  left: -33px;
  top: 16px;
  z-index: 1;
  @include rotate(-45deg);
  &:before {
    position: absolute;
    bottom: -3px;
    right: 5px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 4px 4px 0px 4px;
    border-color: #21a3d8 transparent transparent transparent;
    content: ".";
    text-indent: -5000px;
    @include rotate(225deg);
  }
  &:after {
    position: absolute;
    bottom: -3px;
    left: 3px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 4px 4px 0px 4px;
    border-color: #21a3d8 transparent transparent transparent;
    content: ".";
    text-indent: -5000px;
    @include rotate(135deg);
  }
}

.sale-label {
  font: 700 14px / 12px $font-family;
  color: $light-text-color;
  background: #f13340;
  text-transform: uppercase;
  padding: 9px 0 7px;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.24);
  width: 130px;
  text-align: center;
  display: block;
  position: absolute;
  right: -33px;
  top: 16px;
  z-index: 1;
  @include rotate(45deg);
  &:before {
    position: absolute;
    bottom: -3px;
    right: 4px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 4px 4px 0px 4px;
    border-color: #ad2b34 transparent transparent transparent;
    content: ".";
    text-indent: -5000px;
    @include rotate(225deg);
  }
  &:after {
    position: absolute;
    bottom: -3px;
    left: 5px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 4px 4px 0px 4px;
    border-color: #ad2b34 transparent transparent transparent;
    content: ".";
    text-indent: -5000px;
    @include rotate(135deg);
  }
}

.ie8 {
  .new-label {
    left: 0px;
    top: 0px;
    width: auto;
    padding: 5px 15px;
    &:after {
      display: none;
    }
    &:before {
      display: none;
    }
  }
  .sale-label {
    right: 0px;
    top: 0px;
    width: auto;
    padding: 5px 15px;
    &:after {
      display: none;
    }
    &:before {
      display: none;
    }
  }
  .new-box {
    top: -1px;
    left: -1px;
  }
  .sale-box {
    right: -1px;
    top: -1px;
  }
}
