// module productcomments
.rating {
  clear: both;
  display: block;
  margin: 2em;
  cursor: pointer;
}

.rating:after {
  content: ".";
  display: block;
  height: 0;
  width: 0;
  clear: both;
  visibility: hidden;
}

.cancel, .star {
  overflow: hidden;
  float: left;
  margin: 0 1px 0 0;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.cancel, .cancel a {
  background: url(../../../modules/productcomments/img/delete.gif) no-repeat 0 -16px !important;
}

.cancel a, .star a {
  display: block;
  width: 100%;
  height: 100%;
  background-position: 0 0;
}

div.star_on a {
  background-position: 0 -16px;
}

div.star_hover a,
div.star a:hover {
  background-position: 0 -32px;
}
