//temporary fix for quickview
#product.content_only {
  div.pb-left-column {
    p.resetimg {
      margin-bottom: 0px;
      padding-top: 0px;
    }
    #thumbs_list_frame {
      margin-bottom: 0px;
    }
  }
}
