.block_hidden_only_for_screen {
  display: none;
}

.unvisible {
  display: none;
}

.loading-overlay {
  position: relative;
  pointer-events: none;
  cursor: not-allowed;
  -webkit-touch-callout: none;
  @include user-select(none);
  &:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.5) url('../img/preloader.gif') no-repeat center center;
    z-index: 110;
  }
}
